	<!-- Footer -->
<footer id="footer" class="cf_footer">
    <!-- top footer -->
    <div class="middle_footer">
        <div class="container">
            <div class="cf_doitac">
                <div class="cf_title border_bottom margin_bottom">
                    <h4 class="header_title">ĐỐI TÁC KHÁCH HÀNG</h4>
                    <div class="doitac_control">
                        <div class="doitac_button doitac_bt_next"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                        <div class="doitac_button doitac_bt_prev"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                    </div>
                </div>
                <div class="doitac_box swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-01.jpg" alt="doi-tac-01"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-02.jpg" alt="doi-tac-02"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-03.jpg" alt="doi-tac-03"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-04.jpg" alt="doi-tac-04"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-05.jpg" alt="doi-tac-05"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-06.jpg" alt="doi-tac-06"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-07.jpg" alt="doi-tac-07"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-08.jpg" alt="doi-tac-08"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-05.jpg" alt="doi-tac-05"></a></div></div>
                        <div class="swiper-slide"><div class="doitac_logo"><a href="#" title="đối tác 01"><img src="assets/images/brand/brand-06.jpg" alt="doi-tac-06"></a></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end top footer -->
    <!-- bottom footer -->
    <div class="bottom_footer">
        <!-- Info Address -->
        <div class="ft_info_add">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        @*<div class="ft_widget">
                            <h3 class="ft_widget_title">
                                <img src="assets/images/icon/icon-ft-title.png" alt="">
                                Công ty CP Dịch Vụ API Việt Nam
                            </h3>
                            <div class="ft_widget_content">
                                <ul class="ft_widget_info">
                                    <li><span>Địa chỉ:</span> Di Trạch , Hoài Đức, Hà Nội</li>
                                    <li><span>Điện thoại:</span> 01663585135</li>
                                    <li><span>Hotline:</span> 043333999</li>
                                    <li><span>Email:</span> <a href="mailto:lyhung.mabu@gmail.com">lyhung.mabu@gmail.com</a> </li>
                                    <li><span>Website:</span> <a href="http://chieuthu7.com/" title="">chieuthu7.com</a></li>
                                </ul>
                            </div>
                        </div>*@

                        @{ Html.RenderAction("LoadAddress", "Footer");}

                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="ft_widget">
                            <h3 class="ft_widget_title">
                                <img src="assets/images/icon/icon-ft-title.png" alt="">
                                TIN NỔI BẬT
                            </h3>
                            <div class="ft_widget_content">
                                <ul class="ft_widget_blog">
                                    <li>
                                        <a href="#" title="feature post">
                                            <div class="ft_feature_news">
                                                <div class="ft_feature_news_img">
                                                    <img src="assets/images/blog/sm-blog-01.jpg">
                                                </div>
                                                <div class="ft_feature_news_info">
                                                    <h5 class="ft_feature_news_name">
                                                        Trà thảo dược giúp tăng lực phòng the
                                                    </h5>
                                                    <p class="ft_feature_news_date">
                                                        (Ngày đăng: 22/12/2013 - Lượt xem: 234)
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" title="feature post">
                                            <div class="ft_feature_news">
                                                <div class="ft_feature_news_img">
                                                    <img src="assets/images/blog/sm-blog-01.jpg">
                                                </div>
                                                <div class="ft_feature_news_info">
                                                    <h5 class="ft_feature_news_name">
                                                        Trà thảo dược giúp tăng lực phòng the
                                                    </h5>
                                                    <p class="ft_feature_news_date">
                                                        (Ngày đăng: 22/12/2013 - Lượt xem: 234)
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="ft_widget">
                            <h3 class="ft_widget_title">
                                <img src="assets/images/icon/icon-ft-title.png" alt="">
                                Bản đồ
                            </h3>
                            <div class="maps ft_widget_content">
                                @{ Html.RenderAction("LoadMap", "Footer");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End info address -->
        <!-- Info -->
        <div class="ft-info ">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="ft_info_left">
                            Bản quyền thuộc về <a href="#" title="Tieungusac.com">Tieungusac.com</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="ft_info_right">
                            <ul>
                                <li>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    Số người đang online: 100
                                </li>
                                <li>
                                    <i class="fa fa-signal" aria-hidden="true"></i>
                                    Tổng số người truy cập: 200
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Info -->
    </div>
    <!-- End bottom footer -->
</footer>
