@model List<Model.EF.Menu>
<div class="bottom-header">
    <div class="container">
        <div class="main_menu">
            <ul>
                @*<li><a href="#">Trà Thái nguyên</a></li>
                    <li>
                        <a href="#">Trà Nhật</a>
                    </li>
                    <li>
                        <a href="#">Qùa biếu - hộp trà cao cấp</a>
                    </li>
                    <li><a href="#">Cà phê</a></li>
                    <li><a href="#">Vật dụng trà</a></li>*@
                @foreach (var item in Model)
                {
                    <li><a href="@item.Link" target="@item.Target">@item.Text</a></li>
                }

            </ul>
            <div class="search_swraper">
              
                @{ Html.RenderAction("CartInfo", "Cart");}
                <div class="search_box search-cf-default">
                    <form action="http://amour.beautheme.com/" method="get">
                        <input type="search" id="search" name="s">
                        <input type="hidden" name="post_type" value="product post">
                    </form>
                </div>
                <script type="text/javacript">
                    $('.search_box input').focus(function(event) {
                    $('.menu-flo').addClass('active-search');
                    });
                    $('.search_box input').blur(function(event) {
                    $('.menu-flo').removeClass('active-search');
                    });
                </script>
            </div>
        </div>
    </div>
</div>