@model List<Model.EF.Slide>
<section class="slider_container">
    <div class="home_slider_box swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" title="slider 1">
                    <img src="assets/images/slide.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" title="slider 1">
                    <img src="assets/images/slide.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
    <div class="m_slider_button m_slider_bt_next">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
    </div>
    <div class="m_slider_button m_slider_bt_prev"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</section>